header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: #fff !important;
    box-shadow: 0 0 5px 2px rgba(99, 99, 99, 0.5);
}

.header-logo {
    height: 50px;
    margin-top: -75px;
    cursor: pointer;
    overflow: hidden;
}

.header-user {
    line-height: 3em;
    font-size: 17px;
    width: 250px;
    text-align: center;
}

.header-user:hover {
    height: inherit;
    background-color: #f2f2f2;
    cursor: pointer;
}

.header-user:active {
    background-color: #d9d9d9;
}

.header-space {
    height: 50px;
}

.header-user-menu {
    background-color: #f2f2f2;
    width: 250px;
    display: none;
}

.subnav-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.subnav-menu-item > span {
    margin-right: 10px;
    color: #329fd6;
}

.subnav-menu-item:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.customer-line {
    border-left: 1px solid #ccc;
}